@mixin paragraph($arg){
    color: $arg;
    font-size: 1.5rem;
    line-height: 2em;
    letter-spacing: 2px;
}

@mixin mq($arg){
    @if $arg == $xl {
        @media screen and (min-width: 1600px){
            @content;
        }
    }
    @else if $arg == $lg {
        @media screen and (min-width: 1025px) and (max-width: 1599px){
            @content;
        }
    }
    @else if $arg == $md {
        @media screen and (min-width: 600px) and (max-width: 1024px){
            @content;
        }
    }
    @else if $arg == $sm {
        @media screen and (min-width: 350px) and (max-width: 599px){
            @content;
        }
    }
    @else if $arg == $xs {
        @media screen and (max-width: 349px){
            @content;
        }
    }
}