//color
$main-color : #B9D310;
$main-color-focus : #a4bd06;
$grey : #979797;
$blk : #13212c;
$wht : #fff;

//size

//media-query
$xl : "xl";
$lg : "lg";
$md : "md";
$sm : "sm";
$xs : "xs";